.MuiFilledInput-underline:after {
  border-bottom: 2px solid #ac00d5 !important;
}
/* .MuiCheckbox-colorSecondary.Mui-checked {
  color: #ac00d5 !important;
} */

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  color: gray;
}
