#companyBar {
  width: 100%;
  position: inherit;
  top: 0;
  left: 0;
  height: 400px;
  flex-grow: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1678px) {
  #companyBar {
    height: 600px;
  }
}
